$dkblue: hsl(233, 26%, 24%);
$ltgreen: hsl(136, 65%, 51%);
$green: hsla(160, 64%, 58%, 0.973);
$btcyan:hsl(192, 70%, 51%);
$grblue: hsl(233, 8%, 62%);
$ltgrblue:hsl(220, 16%, 96%);
$vyltgrey: hsl(0, 0%, 98%);
$whitee: hsl(0, 0%, 100%);



//Font-SIZE;
$font-sm:0.875rem; //14px
$font-med:1.125rem;//18px
$font-lr:1.25rem;//20px
// $font-lr:1.375rem;//22px
$font-xlr:3.25rem;//52px



//font-weights;
$font-weights:(
    "regular":300,
    "medium":400,
    "bold":700,
);
